@use '@/app/variables';

.comboBox {
  position: relative;
  display: flex;
  flex-direction: column;
  color: variables.$palette-neutral-outlinedColor;
  min-width: 10rem;

  &[data-focused] .container::before {
    @include variables.focus-ring-active
  }
}

.grow {
  flex: 1 1 100%;
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 0.375rem;
  min-height: 2rem;
  border: 1px solid variables.$palette-neutral-outlinedBorder;
  background-color: variables.$palette-background-surface;
  @include variables.box-shadow;
  &::before {
    @include variables.focus-ring(1px);
  }
}

.input {
  flex: 1 0 auto;
  padding-inline: 0.5rem 2rem;
  outline: none;
  background: transparent;
}

.button {
  position: absolute;
  right: 0.25rem;
  height: 1.5rem;
  width: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 0.375rem;

  &[data-hovered] {
    background-color: variables.$palette-neutral-plainHoverBg;
  }
}

.icon {
  fill: variables.$palette-text-icon;
}

.popover {
  width: var(--trigger-width);
}

.listBox {
  border: 1px solid variables.$palette-neutral-outlinedBorder;
  border-radius: 0.375rem;
  background: variables.$palette-background-body;
  padding: 0.25rem 0;
  max-height: 300px;
  overflow: auto;

  &:not(:has(.listBoxItem[data-focused])) .listBoxItem:first-of-type {
    background: variables.$palette-neutral-outlinedHoverBg;
  }
}

.listBoxItem {
  min-height: 2rem;
  display: flex;
  align-items: center;
  padding: 0.1875rem 0.5rem;
  color: variables.$palette-neutral-plainColor;
  @include variables.text-md;


  &[data-hovered], &[data-focused] {
    background-color: variables.$palette-neutral-plainHoverBg;
    outline: none;
  }

  &[data-selected] {
    font-weight: 500;
    background-color: variables.$palette-neutral-plainActiveBg;
  }
}