@use '@/app/variables';

.searchField {
  display: flex;
  flex-direction: column;
  color: variables.$palette-neutral-outlinedColor;
  min-width: 10rem;

  &[data-empty] .input {
    opacity: variables.$placeholderOpacity;
  }
}

.grow {
  flex: 1 0 auto;
}

.group {
  display: flex;
  align-items: center;
  min-height: 2rem;
  padding-inline: 0.25rem;
  border: 1px solid variables.$palette-neutral-outlinedBorder;
  background-color: variables.$palette-background-surface;
  border-radius: 0.375rem;

  &[data-focus-within] {
    outline: auto 1px variables.$palette-focusVisible
  }
  @include variables.box-shadow;
  @include variables.text-md;
}

.submit {
  height: 1.5rem;
  width: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}



.input {
  flex: 1 0 auto;
  background: transparent;
  outline: none;
  height: 100%;
  padding-inline: 0.25rem;

  &::placeholder {
    color: unset;
    opacity: unset;
  }
}

.button {
  height: 1.5rem;
  width: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.375rem;

  &[data-hovered] {
    background: variables.$palette-neutral-plainHoverBg;
  }
}

.buttonIcon {
  fill: variables.$palette-text-icon;
}