@use '@/app/variables';

.group {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.disclosure {
  border: 1px solid variables.$palette-neutral-outlinedBorder;
  border-radius: 0.375rem;
  position: relative;
}



.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.375rem;
  font-weight: 500;
  color: variables.$palette-text-secondary;

}

.trigger {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.5rem 0.75rem;
  border-radius: 0.375rem;

  outline:none;

  &[data-focus-visible] {
    @include variables.focus-ring-active;
  }

  &::after {
    @include variables.focus-ring(1px);
  }
}

.content {
  padding: 0.5rem 0.75rem;
  display:flex;
  flex-direction: column;
  gap: 0.75rem;
}

.trash {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  width: 1.5rem;
  height: 1.5rem;
  margin-inline: 0.5rem;
  color: variables.$palette-danger-plainColor;
  outline: none;

  &[data-hovered] {
    background: variables.$palette-danger-plainHoverBg;
  }

  &[data-pressed] {
    background: variables.$palette-danger-plainActiveBg;
  }

  &[data-focus-visible] {
    @include variables.focus-ring-active;
  }

  &:after {
    @include variables.focus-ring();
  }
}